[user]
    name = Bruno Saibro Silveira
    email = djbrunosilveira@gmail.com

[github]
    username = brunossilveira
    user = brunossilveira

[color]
  ui = auto

[alias]
  lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
